{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <center>
    <form method="post">
      <label for="previous">Password</label>
      <input type="password" name="previous" id="previous">
      <label for="username">Change Username</label>
      <input name="username" id="username">
      <label for="password">Change Password</label>
      <input type="password" name="password" id="password">
      <label for="confirm">Confirm Password</label>
      <input type="password" name="confirm" id="confirm">
      <input type="submit" value="Done">
    </form>
  </center>
{% endblock %}
