{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="previous">Previous Password</label>
    <input type="password" name="previous" id="previous" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm" id="confirm" required>
    <input type="submit" value="Change Password">
  </form>
{% endblock %}
